<mat-toolbar>
    <mat-toolbar-row>
        <img id="logoheader" src="./assets/img/logotipo.png" alt="">
        <div id="divnav">
            <nav id="navheader">
                <ul>
                    <li><a routerLink="">Home</a></li>
                    <li><a routerLink="Jogos">Jogos</a></li>
                    <li><a routerLink="Contato">Contato</a></li>
                </ul>
            </nav>
            <div id="menu-mobile">
                <img src="./assets/img/menu-hamburg.svg" alt="Menu hamburguer">
            </div>
        </div>

    </mat-toolbar-row>
</mat-toolbar>