#logoheader{
    height: 50px;
}

#divnav{
    flex: auto 1;
}
#navheader{
    display: none;
    float: right;
}
#navheader ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 10px;
}
#navheader ul li a{
    text-decoration: none;
    color:black;
}

#menu-mobile{
    float: right;
    padding-top: 20px;
}


@media screen and (min-width: 768px) {
    #navheader{
        display: block;
    }
    #menu-mobile{
        display: none;
    }
}
